<!DOCTYPE html>
<html>
<head>
<title> Unity Hospital | Login </title>

<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #e8f793;
        color: #333;
        margin: 0;
        padding: 0;
        text-align: left;
    }
    .appointment {
        background-color: #d3f7ab;
        margin: 50px auto;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        max-width: 600px;
    }
    h2 {
        color: #007bff;
        margin-bottom: 20px;
    }
    p {
        font-size: 18px;
        margin: 10px 0;
    }
    ul {
        list-style-type: none;
        padding: 0;
    }
    li {
        font-size: 16px;
        margin: 5px 0;
    }
    strong {
        color: #333;
    }
</style>
		<!-- Web Fonts -->
		<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic,latin">

		<!-- CSS Global Compulsory -->
		<link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="assets/css/style.css">

		<!-- CSS Header and Footer -->
		<link rel="stylesheet" href="assets/css/header.css">
		<link rel="stylesheet" href="assets/css/footer.css">

		<!-- CSS Implementing Plugins -->
		<link rel="stylesheet" href="assets/plugins/line-icons-pro/styles.css">
		<link rel="stylesheet" href="assets/plugins/line-icons/line-icons.css">
		<link rel="stylesheet" href="assets/plugins/font-awesome/css/font-awesome.min.css">

		<!-- CSS Customization -->
		<link rel="stylesheet" href="assets/css/custom.css">

</head>

<body>
	<div class="wrapper">
	<!--=== Header v1 ===-->
	<div class="header-v1">
	<!-- Topbar -->
	<div class="topbar-v1">
	<div class="container">
	<div class="row">
	<div class="col-md-6">
			<ul class="list-inline top-v1-contacts">
			<li>
			<i class="fa fa-envelope"></i> Email: unityhospital@gmail.com
			</li>
			<li>
			<i class="fa fa-phone"></i> Contact no : 88666 00555
			</li>
			</ul>
	</div>
	</div>
	</div>
	</div>

<!-- End Topbar -->

				<!-- Navbar -->
				<div class="navbar mega-menu" role="navigation">
				<div class="container">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="res-container">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				</button>

				<div class="navbar-brand">
				<a href="index">
				<img src="assets/img/logo/unity_white.jpg" alt="Logo">
				</a>
				</div>
				</div><!--/end responsive container-->

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse navbar-responsive-collapse">
				<div class="res-container">
				<ul class="nav navbar-nav">

				<!-- Collect the nav links, forms, and other content for toggling -->


				<!-- Home  -->
				<li class="mega-menu-fullwidth">
				<a href="index" >
				HOME
				</a>

				</li>
				<!-- End Home-->

				<!-- About Us -->
				<li class="mega-menu-fullwidth">
				<a href="about" >
				ABOUT US
				</a>	
				</li>
				<!-- End About us -->

				<!-- Doctors -->
				<li class="mega-menu-fullwidth">
				<a href="doctors" >
				DOCTORS
				</a>

				</li>
				<!-- End Doctors -->


				<!-- Gallery -->
				<li class="mega-menu-fullwidth">
				<a href="gallery" >
				GALLERY
				</a>

				</li>
				<!-- End Gallery -->


				<!-- Blog -->
				<li class="mega-menu-fullwidth">
				<a href="blog" >
				BLOGS
				</a>	
				</li>
				<!-- End Blog -->

				<!-- Contact Us -->
				<li class="mega-menu-fullwidth">
				<a href="contact" >
				CONTACT US
				</a>	
				</li>
				<!-- End Contact us -->

				<!-- Registration -->
				<li class="mega-menu-fullwidth">
				<a href="registration" >
				REGISTRATION
				</a>	
				</li>
				<!-- End registration -->

				<!-- login -->
				<li class="mega-menu-fullwidth">
				<a href="login" >
				LOGIN
				</a>	
				</li>
				<!-- End login -->

				<!-- Appointment -->
				<li class="mega-menu-fullwidth">
				<a href="appointment">
				BOOK APPOINTMENT
				</a>

				</li>
				<!-- End Appointment -->

				</ul>

				</div>
				</div>
				</div>
				</div>
				</div>
				<!-- End Navbar -->


	<!-- title -->
    <div class="appointment">
        <h2>Appointment Confirmation</h2>
        <p>Thank you, <b><%= appointment.name %>!</b> Your appointment has been booked successfully.</p>
        <p>Details:</p>
        <ul>
          <li><strong>Name:</strong> <%= appointment.name %></li>
          <li><strong>Email:</strong> <%= appointment.email %></li>
          <li><strong>Purpose:</strong> <%= appointment.Purpose %></li>
          <li><strong>Primary Mobile Number:</strong> <%= appointment.number1 %></li>
          <li><strong>Secondary Mobile Number:</strong> <%= appointment.number2 %></li>
          <li><strong>Department:</strong> <%= appointment.Department %></li>
          <li><strong>Date:</strong> <%= appointment.date %></li>
          <li><strong>Time:</strong> <%= appointment.Time %></li>
        </ul>
      </div>

    <!-- Bottom Part -->
		<!--=== Footer ===-->
		<div class="footer-v1">
		<div class="footer">
		<div class="container">
		<div class="row">
		<!-- About -->
		<div class="col-md-3 " style="margin-bottom: 40px;">
		<a href="index"><img id="logo-footer" class="footer-logo" src="assets/img/logo/unity_white.jpg" alt=""></a>
		<p>At Unity Hospital, we are convinced that 'quality' and 'lowest cost' are not mutually exclusive when it comes to healthcare delivery.</p>
		<p>Our mission is to deliver high quality, affordable healthcare services to the broader population in India.</p>
		</div><!--/col-md-3-->
		<!-- End About -->

		<!-- Latest -->
		<div class="col-md-3 " style="margin-bottom: 40px;">
		<div class="posts">
		<div class="headline"><h2>Latest Posts</h2></div>
		<ul class="list-unstyled latest-list">
		<li>
		<a href="blog">Incredible content</a>
		<small>December 16, 2020</small>
		</li>
		<li>
		<a href="gallery">Latest Images</a>
		<small>December 16, 2020</small>
		</li>
		<li>
		<a href="terms">Terms and Conditions</a>
		<small>December 16, 2020</small>
		</li>
		</ul>
		</div>
		</div><!--/col-md-3-->
		<!-- End Latest -->

		<!-- Link List -->
		<div class="col-md-3 " style="margin-bottom: 40px;">
		<div class="headline"><h2>Useful Links</h2></div>
		<ul class="list-unstyled link-list">
		<li><a href="about">About us</a><i class="fa fa-angle-right"></i></li>
		<li><a href="Contact">Contact us</a><i class="fa fa-angle-right"></i></li>
		<li><a href="appointment">Book Appointment</a><i class="fa fa-angle-right"></i></li>
		</ul>
		</div><!--/col-md-3-->
		<!-- End Link List -->

		<!-- Address -->
		<div class="col-md-3 map-img " style="margin-bottom: 40px;">
		<div class="headline"><h2>Contact Us</h2></div>
		<address class="" style="margin-bottom: 40px;">
		Unity Hospital <br />
		Ahmedabad, IN <br />
		Phone: 886 666 00555 <br />
		Email: unityhospital@gmail.com 
		</address>
		</div><!--/col-md-3-->
		<!-- End Address -->
		</div>
		</div>
		</div><!--/footer-->

		<div class="copyright">
		<div class="container">
		<div class="row">
		<div class="col-md-6">
		<p>
		2020 &copy; All Rights Reserved.
		<a href="privacy">Privacy Policy</a> | <a href="terms">Terms of Service</a>
		</p>
		</div>

		<!-- Social Links -->
		<div class="col-md-6">
		<ul class="footer-socials list-inline">
		<li>
		<a href="http://www.facebook.com" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook">
		<i class="fa fa-facebook"></i>
		</a>
		</li>
		<li>
		<a href="http://www.skype.com" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Skype">
		<i class="fa fa-skype"></i>
		</a>
		</li>
		<li>
		<a href="http://www.googleplus.com" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Google Plus">
		<i class="fa fa-google-plus"></i>
		</a>
		</li>
		<li>
		<a href="http://www.linkedin.com" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Linkedin">
		<i class="fa fa-linkedin"></i>
		</a>
		</li>
		<li>
		<a href="http://www.Pinterest.com" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Pinterest">
		<i class="fa fa-pinterest"></i>
		</a>
		</li>
		<li>
		<a href="http://www.twitter.com" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter">
		<i class="fa fa-twitter"></i>
		</a>
		</li>
		</ul>
		</div>
		<!-- End Social Links -->
		</div>
		</div>
		</div><!--/copyright-->
		</div>
		<!--=== End Footer ===-->
</div><!--/wrapper-->

<!-- Login Javascript
<script type="text/javascript" src="assets/plugins/jquery/validation.js"></script> -->

</body>
</html>